<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Study Helper</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/session">Add New Session</a></li>
                <li><a href="/sessions">View Sessions</a></li>
                <li><a href="/goal">Add New Goal</a></li>
                <li><a href="/goals">View  Goals</a></li>
            </ul>
            <div class="profile">
            <a href="/">Profile</a>
            </div>
        </div>
    </div>

    <header>
        <h1>{{.HeaderText}}</h1>
    </header>

   
        <div class="container">
            <div class="box">
                <h3>Manage Sessions</h3>
                <a href="/session">
                    <button>Add New Session</button>
                </a>
                <a href="/sessions">
                    <button>View Sessions</button>
                </a>
            </div>

            <div class="box">
                <h3>Manage Daily Goals</h3>
                <a href="/goal">
                    <button>Add New Goal</button>
                </a>
                <a href="/goals">
                    <button>View Goals</button>
                </a>
            </div>

        </div>
  
</body>
</html>