<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Study Helper</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/goal">Add New Goal</a></li>
                <li><a href="/goals">View Goals</a></li>
                <li><a href="/session">Add New Session</a></li>
                <li><a href="/sessions">View Sessions</a></li>
                <li><a href="/quote">Add Quote</a></li>
                <li><a href="/quotes">View Quotes</a></li> 
            </ul>
            <form method="POST" action="/user/logout" class="logout-form" onsubmit="return confirm('Are you sure you want to logout?');">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <button type="submit" class="logout">Logout</button>
    </form>           
        </div>
    </div> 

    <header>
        <h1>{{.HeaderText}}</h1>
    </header>

    <div class="form-container">
       <form action="/quote" method="POST">
       <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
           <div class="form-group">
                <label for="content">Quote:</label>
               <textarea id="content" name="content" placeholder="Write your motivational quote"
                         class="{{if .FormErrors.content}}invalid{{end}}">{{index .FormData "content"}}</textarea>
               {{with .FormErrors.content}}
                   <div class="error">{{.}}</div>
               {{end}}
           </div>

  
           <button type="submit">Save Quote</button>
       </form>
   </div>

</body>
</html>