<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Study Helper</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/goal">Add New Goal</a></li>
                <li><a href="/goals">View Goals</a></li>
                <li><a href="/session">Add New Session</a></li>
                <li><a href="/sessions">View Sessions</a></li>
                <li><a href="/quote">Add Quote</a></li>
                <li><a href="/quotes">View Quotes</a></li> 
            </ul>
            <form method="POST" action="/user/logout" class="logout-form" onsubmit="return confirm('Are you sure you want to logout?');">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <button type="submit" class="logout">Logout</button>
    </form>           
        </div>
    </div> 

    <header>
        <h1>{{.HeaderText}}</h1>
        {{with .Flash}}
        <div class="flash-message">{{.}}</div>
        {{end}}
    </header>

    <div class="quote-container">
        {{ if not .QuoteList }}
            <p class="flash-message">No quotes yet. Add one to stay inspired!</p>
        {{ else }}
            {{ range .QuoteList }}
                <div class="quote-card">
                    <div class="quote-content">“{{ .Content }}”</div>
                    <div class="quote-actions">
                        <form method="POST" action="/quotes/delete" onsubmit="return confirm('Are you sure you want to delete?');">
                        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                            <input type="hidden" name="quote_id" value="{{ .Quote_id }}">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>

</body>
</html>