<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

   <div class="wrapper">
        <div class="sidebar">
            <h2>Study Helper</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/goal">Add New Goal</a></li>
                <li><a href="/goals">View Goals</a></li>
                <li><a href="/session">Add New Session</a></li>
                <li><a href="/sessions">View Sessions</a></li>
                <li><a href="/quote">Add Quote</a></li>
                <li><a href="/quotes">View Quotes</a></li> 
            </ul>
            <form method="POST" action="/user/logout" class="logout-form" onsubmit="return confirm('Are you sure you want to logout?');">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <button type="submit" class="logout">Logout</button>
    </form>           
        </div>
    </div> 

    <header>
        <h1>{{.HeaderText}}</h1>
         {{with .Flash}}
        <div class="flash-message">{{.}}</div>
        {{end}}
    </header>

    {{ if not .SessionList }}
        <p class="flash-message">No session entries available.</p>
    {{ else }}
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Subject</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Completed</th>
                <th>Actions</th>
            </tr>
            {{ range .SessionList }}
            <tr>
                <td>{{ .Title }}</td>
                <td>{{ .Description }}</td>
                <td>{{ .Subject }}</td>
                <td>{{ .Start_date.Format "2006-01-02" }}</td>
                <td>{{ .End_date.Format "2006-01-02" }}</td>
                <td>{{ if .Is_completed }}Yes{{ else }}No{{ end }}</td>
                <td>
                <a href="/sessions/edit?session_id={{ .Session_id }}">
                    <button class="edit-btn">Edit</button>
                </a>
                <form method="POST" action="/sessions/delete" onsubmit="return confirm('Are you sure you want to delete?');">
                <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                    <input type="hidden" name="session_id" value="{{ .Session_id }}">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
                <a href="/sessions/start?session_id={{ .Session_id }}">
                    <button class="start-btn">Start</button>
                </a>
                </td>
            </tr>          
                
            {{ end }}
        </table>
    {{ end }}

        
</body>
</html>