<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Study Helper</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/goal">Add New Goal</a></li>
                <li><a href="/goals">View  Goals</a></li>
                <li><a href="/session">Add New Session</a></li>
                <li><a href="/sessions">View Sessions</a></li> 
            </ul>
            <div class="profile">
            <a href="/">Profile</a>
            </div>
        </div>
    </div>

    <header>
        <h1>{{.HeaderText}}</h1>
    </header>
    <main>
        <div class="success-message">
            <h2>Thank You!</h2>
        </div>
    </main>
  
</body>
</html>