body {
    background-color: lavender;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #d499e4; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #3f0c547d; 
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #642290; 
    border: none;
    color: white;
    font-size: 1.1em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ac63be; 
}


/* Errors*/
.error {
    color: #c12222;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
    display: block;
  }
  
  input.invalid,
  textarea.invalid {
    border: 1px solid #d84949;
  }


